
<div class="parentform">
<div class="form">
<form [formGroup]="StudentForm">
    <label for="">Name:</label>
    <input type="text" formControlName="name"> <br>
    <label for="">DOB:</label>
    <input type="date" formControlName="dob"> <br>
    <label for="">Email:</label>
    <input type="mail" formControlName="email"> <br>
    <label for="">Phone:</label>
    <input type="number" formControlName="phone"> <br>
    <label for="">City:</label>
    <input type="text" formControlName="city"> <br>
    <label for="">profile Picture:</label>
    <input type="text" formControlName="profile_picture"> <br>
    <label for="">School City:</label>
    <input type="text" formControlName="school_city"> <br>
    <label for="">School Name:</label>
    <input type="text" formControlName="school_name"> <br>
    <label for="">School Pin:</label>
    <input type="number" formControlName="school_pin"> <br>
    

    <button class="btn btn-primary" (click)="submit()">Submit</button>
</form>
</div>
</div>
