<!-- <h2> Name:{{studentscard.name}}</h2>
<img src="{{studentscard.profile_picture}}" alt="" height="500px">

<h2>Phone:{{studentscard.phone}}</h2>
<h2>School Logo:  <img src="{{studentscard.school_logo}}" alt=""></h2>
<h2>School City:{{studentscard.school_city}}</h2>
<h2>DOB:{{studentscard.dob}}</h2>
<h2>City:{{studentscard.city}}</h2>
<h2>Email:{{studentscard.email}}</h2> -->

<div class="card" style="width: 85%; height: 90%; ">
    <h2> Name:{{studentscard.name}}</h2>
    <img src="{{studentscard.profile_picture}}" class="card-img-top" alt="..." style=" width:35%; height:30%;">
    <div class="card-body">
        <h2>Phone:{{studentscard.phone}}</h2>
        <h2>School Logo:<img src="{{studentscard.school_logo}}" alt="" style=" width:25%; height:30%;"> </h2>
        <h2>School City:{{studentscard.school_city}}</h2>
        <h2>DOB:{{studentscard.dob}}</h2>
        <h2>City:{{studentscard.city}}</h2>
        <h2>Email:{{studentscard.email}}</h2>
    </div>
  </div>